# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
build/
dist/
*.egg-info/

# Arch Linux packaging
/pkg/
/src/
/kira-repo/
*.pkg.tar.zst
*.pkg.tar.xz
*.pkg.tar.gz
*.src.tar.gz
.SRCINFO

# Environment and Logs
.env
*.json
!pyproject.toml
live_logs.txt

# OS
.DS_Store
